
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family:'poppins' poppins;
    box-sizing: border-box;
}

a{
    text-decoration: none
}
ul{
list-style: none;
}

body{
    margin: 0px;
padding: 0px;
font-family: poppins;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: #fff;
  box-shadow: 0 4px 30px -22px black;
  z-index: 2;
}
.header-content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.logo {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
 
 /*animation: saltar 1s infinite;
  transform: translateY(0);*/
}

.logo img{
  width: 150px;
  height: 150px;
  display: block;
  position: relative;
 top: 5px;

}
@keyframes saltar{
  0%{
    transform: translateY(0)
  }
  100%{
    transform: translateY(100px);
  }
}
.menu {
  height: 80px;
}

.menu nav {
  height: 100%;
}

.menu nav ul {
  height: 100%;
  display: flex;
  list-style: none;
 
}

.menu nav ul li {
  height: 100%;
  margin: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
 
}
.menu a{
    color: black;
    font-size: 22px;
    position: relative;
    top: 10px;
}
.menu-selected:before {
  content: "";
  width: 100%;
  height: 4px;

  position: absolute;
  
  top: 0;
  left: 0;

}
.menu-selected::after{
  content: "";
  width: 0%;
height: 4px;
background: #46a2fd;
display: block;
margin: auto;
transition: 0.5s;
}
.menu-selected:hover::after{
  width: 100%;
}
.menu nav ul li {
  color: #777777;
  font-size:18px;
    transition: color 300ms;
}
.menu nav ul li a::after {
  height: 4px;
  display: block;
  transition:   0.5s;
  will-change: width;
  bottom: 0;
  right: 50%;
  color: #777777;
  font-size: 18px;
 width: 0;
margin: auto;
 content: ''; 
 text-decoration: none;
 text-decoration-color: #777777;
}

.menu nav ul li a:hover::after {
  width: 100%;
 
background-color: #46a2fd;


  
}
.menu nav ul li :hover{
  width: 100%;
  color: #46a2fd;
}
.text-menu-selected {
  color: #46a2fd;
}

.menu nav ul li a i {
  display: none;
}
#icon-menu {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 20px;
  top: 16px;
  padding: 10px;
  font-size: 20px;
  background: #eeeeeefa;
  border-radius: 100%;
  color: #787878;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#icon-menu:hover {
  opacity: 0.8;
}
@media screen and (max-width: 800px) {
  body {
    overflow-x: hidden;
  }

  .menu {
    width: 0px;
    height: 100vh;
    position: fixed;
    top: 80px;
    left: 0;
    background: #fff;
    overflow: hidden;
    transform: translateX(-350px);
    box-shadow: 10px 0 20px -25px black;
    transition: all 300ms cubic-bezier(1, 0, 0, 1);
  }

  .menu nav ul {
    flex-direction: column;
  }

  .menu nav ul li {
    max-width: 200px;
    height: 50px;
    justify-content: flex-start;
  }

  .menu-selected:before {
    width: 0;
  }

  .menu nav ul li a {
    margin-top: 40px;
    color: #858585;
  }

  .menu nav ul li a i {
    width: 20px;
    display: inline-block;
    margin-right: 10px;
    color: #46a2fd;
  }

  #icon-menu {
    display: flex;
  }

}
#blog{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    position: relative;
    top: 30px;
    padding-bottom: 50px;
}

.blog-heading{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blog-heading span{
    color: #3f3cf3;
}
.blog-heading h3{
    font-size: 2.4rem;
    color:#2b2b2b;
    font-weight: 600;
}
.blog-container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;  
}
.blog-box{
    width:350px;
    background-color:#ffffff;
    border:1px solid #ececec;
    margin: 20px;
}
.blog-img{
    width:100%;
    height: auto;
}
.blog-img img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.blog-text span{
color: #4e3cf3;
font-size: 0.9rem;
}
.blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
}
.blog-box .blog-title:hover{
    color: #3c3ff3;
    transition: all ease 0.3s;
}
.blog-text p{
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.blog-text a{
    color: #0f0f0f;

}
.blog-text a:hover{
    color: #3f3cf3;
    transition: all ease 0.3s;
}
@media(max-width:1250px){
    .blog-box
    {width: 300px;}
}
@media(max-width:1100px){
    .blog-box{
        width:70px;
    }
}
@media(max-width:550px)
{
    .blog-box{
        margin: 20px 10px;
        width: 100%;
    }
    #blog{padding: 20px;}
}

.proyect-header{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.6);
    flex-wrap: wrap;
    margin: 20px;
}
.proyect-header li{
    margin: 10px;
    padding: 5px 20px;
    font-size: 1rem;
    letter-spacing: 0.5px;
    cursor: pointer;
    user-select: none;
}

.activate{
    background-color: #ececec;
    color:#272727;
}
.login-box {
  width: 920px;
  height: 500px;
  background: #ffffff;
  color: #272727;
  top: 100px;
  left: 50%;
  position: relative;

  transform: translate(-50%, -50%);
 
  padding: 70px 30px;
  margin-top:300px ;
}

.login-box .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  background: rgb(255, 255, 255);
}

.login-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.login-box input {
  width: 100%;
  margin-bottom: 20px;
}

.login-box input[type="text"], .login-box input[type="password"] {
  border: none;
  border-bottom: 1px solid rgb(255, 255, 255);
  background: transparent;
  outline: none;
  height: 40px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  
}

.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #b80f22;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

.login-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: rgb(165, 89, 89);
  position: relative;
  justify-content: center;
  align-items: center;
}

.login-box a:hover {
  color: #ff7777;
}

#avatar{
  width: 400px;
  height: 400px;
  display: block;
  position: relative;
 top: 50px;
 
}
.imagen{
  width: 100%;
  height: 600px;
  position: relative;

  margin-top: 150px;
  border:  1px solid #007bff;
}
.etiquetas{
  display: inline-block;
  text-decoration: none;
  width:90px;
  height: 45px;
  line-height: 45px;
  color: #ffffff;
  margin-right: 10px;
  background-color: #144679;
  text-align: center;
  transition: all 300ms ease;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  top: 10px;
}
#message{
  color: #000000;
  background: #fafafa;
  border-radius: 10px;
  height: 100px;
  cursor: pointer;
  padding-bottom: 70px;
  padding-left: 10px;
  border:1px solid #000 ;
}
/*footer */
.pie-pagina{
width: 100%;
height: 470px;
background: #ffffff;
box-shadow: 0 0 50px -22px black;
padding: 50px;

}
.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap:50px ;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
  width: 250px;
}
.pie-pagina .grupo-1 .box h2{
  color: #000000;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
  color: #000000;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #000000;
  margin-right: 49px;
  background-color: #47a0fa;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  border-radius: 10px;
}
.pie-pagina .grupo-1 .red-social a:hover{
  color: #007bff;
}
.pie-pagina .grupo-2 small{
  font-size: 15px;
}
@media screen and(max-width:800px) {
  .pie-pagina .grupo-1{width: 100%;
  grid-template-columns: repeat(1,1fr);
grid-gap: 30px;
padding: 35px 0px;}
}
.boton-descargar {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  margin-top: 20px;
}
.etiquetas{
  
}