
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    box-sizing: border-box;
}

a{
    text-decoration: none
}
ul{
list-style: none;
}

body{
    margin: 0px;
padding: 0px;
font-family: poppins;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #fff;
  box-shadow: 0 4px 25px -22px black;
  z-index: 2;
}
.header-content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.logo {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
 /*animation: saltar 1s infinite;
  transform: translateY(0);*/
}
.logo a {
  color: black;
 
}
.logo h1 b {
  color: #bfff00;
  
}
@keyframes saltar{
  0%{
    transform: translateY(0)
  }
  100%{
    transform: translateY(100px);
  }
}
.menu {
  height: 80px;
}

.menu nav {
  height: 100%;
}

.menu nav ul {
  height: 100%;
  display: flex;
  list-style: none;
 
}

.menu nav ul li {
  height: 100%;
  margin: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
 
}
.menu a{
    color: black;
}
.menu-selected:before {
  content: "";
  width: 100%;
  height: 4px;

  position: absolute;
  
  top: 0;
  left: 0;

}
.menu-selected::after{
  content: "";
  width: 0%;
height: 4px;
background: #46a2fd;
display: block;
margin: auto;
transition: 0.5s;
}
.menu-selected:hover::after{
  width: 100%;
}
.menu nav ul li {
  color: #777777;
  font-size:18px;
    transition: color 300ms;
}
.menu nav ul li a::after {
  height: 4px;
  display: block;
  transition:   0.5s;
  will-change: width;
  bottom: 0;
  right: 50%;
  color: #777777;
  font-size: 18px;
 width: 0;
margin: auto;
 content: ''; 
 text-decoration: none;
 text-decoration-color: #777777;
}

.menu nav ul li a:hover::after {
  width: 100%;
 
background-color: #46a2fd;


  
}
.menu nav ul li :hover{
  width: 100%;
  color: #46a2fd;
}
.text-menu-selected {
  color: #46a2fd;
}

.menu nav ul li a i {
  display: none;
}
#icon-menu {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 20px;
  top: 16px;
  padding: 10px;
  font-size: 20px;
  background: #eeeeeefa;
  border-radius: 100%;
  color: #787878;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#icon-menu:hover {
  opacity: 0.8;
}
@media screen and (max-width: 800px) {
  body {
    overflow-x: hidden;
  }

  .menu {
    width: 0px;
    height: 100vh;
    position: fixed;
    top: 80px;
    left: 0;
    background: #fff;
    overflow: hidden;
    transform: translateX(-350px);
    box-shadow: 10px 0 20px -25px black;
    transition: all 300ms cubic-bezier(1, 0, 0, 1);
  }

  .menu nav ul {
    flex-direction: column;
  }

  .menu nav ul li {
    max-width: 200px;
    height: 50px;
    justify-content: flex-start;
  }

  .menu-selected:before {
    width: 0;
  }

  .menu nav ul li a {
    margin-top: 40px;
    color: #858585;
  }

  .menu nav ul li a i {
    width: 20px;
    display: inline-block;
    margin-right: 10px;
    color: #46a2fd;
  }

  #icon-menu {
    display: flex;
  }

}
#blog{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}

.blog-heading{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blog-heading span{
    color: #f33c3c;
}
.blog-heading h3{
    font-size: 2.4rem;
    color:#2b2b2b;
    font-weight: 600;
}
.blog-container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;  
}
.blog-box{
    width:350px;
    background-color:#ffffff;
    border:1px solid #ececec;
    margin: 20px;
}
.blog-img{
    width:100%;
    height: auto;
}
.blog-img img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.blog-text span{
color: #f33c3c;
font-size: 0.9rem;
}
.blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
}
.blog-box .blog-title:hover{
    color: #f33c3c;
    transition: all ease 0.3s;
}
.blog-text p{
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.blog-text a{
    color: #0f0f0f;

}
.blog-text a:hover{
    color: #f33c3c;
    transition: all ease 0.3s;
}
@media(max-width:1250px){
    .blog-box
    {width: 300px;}
}
@media(max-width:1100px){
    .blog-box{
        width:70px;
    }
}
@media(max-width:550px)
{
    .blog-box{
        margin: 20px 10px;
        width: 100%;
    }
    #blog{padding: 20px;}
}

.proyect-header{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(237,237,237,0.6);
    flex-wrap: wrap;
    margin: 20px;
}
.proyect-header li{
    margin: 10px;
    padding: 5px 20px;
    font-size: 1rem;
    letter-spacing: 0.5px;
    cursor: pointer;
    user-select: none;
}

.activate{
    background-color: #ececec;
    color:#272727;
}